.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-block-start: 1em;
}

.list::-webkit-scrollbar {
  width: .5em;
  background-color: #fc7c6c;
  border-radius: 2em;
}

.list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: .15em solid #fc7c6c;
  border-radius: 2em;
}

.list button {
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: .3em .5em;
}

.list button:hover {
  background-color: #00000033;
}