.locationInfo {
  width: 20em;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px #00000033;
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: space-between;
  position: absolute;
  border-radius: 1.5em;
  padding: 1em;
}
.locationInfo h2 {
  color: #0414A7;
}
.location {
  display: flex;
  gap: .6em;
}
.phone {
  display: flex;
  gap: .6em;
  text-decoration: none;
  color: #000000;
}
.phone:hover {
  color: #0414A7;
}
.websiteLink {
  color: #0414A7;
  margin-top: auto;
}